.About{
    padding: 2em 1em;
    background-color: #fefbe9;
    color: #183a1d;
}

.About__heading__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About__heading__line{
    height: 0.35em;
    width: 6em;
    background-color: tomato;
    margin: .25em 0 1.5em;
}

.About__img__div{
    width: 230px;
    height: 230px;
    background-color: #e1eedd;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.About__img{
    width:230px;
    filter: drop-shadow(6px -3px 4px rgba(0,0,0,0.3));
}

.About__para{
    text-align: center;
    font-size: var(--smallFont);
}

.About__para::first-letter{
    font-weight: bold;
    font-size: 1.2em;
}

@media screen and (min-width: 750px) {
    .About{
        padding: 3em 3em;
    }

    .About__img__div{
        width: 320px;
        height: 320px;
        margin-bottom: 2em;
    }

    .About__img{
        width:320px;
    }

    .About__para{
        text-align: center;
        font-size: 1em;
    }
}

@media screen and (min-width: 1000px) {
    .About__img__div{
        width: 350px;
        height: 350px;
    }

    .About__img{
        width:350px;
    }
}

@media screen and (min-width: 1350px) {
    .About__heading{
        font-size: 1.1em;
    }

    .About__heading__line{
        height: 0.18em;
        width: 4em;
        margin-bottom: 2em; 
    }

    .About__div {
        display: flex;
    }

    .About__inner__div{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .About__img__div{
        width: 300px;
        height: 300px;
        background-color: #e1eedd;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 1em 0 0;
    }

    .About__img{
        width: 300px;
    }

    .About__text__div{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 1em;
    }

    .About__para{
        text-align: left;
        font-size: .7em;
        width: 60%;
        line-height: 1.6;
    }

    .About__para::first-letter{
        font-weight: bolder;
        font-size: 4em;
        float: left;
        line-height: 0.9;
        margin-right: 15px;
    }

    br:not(:last-of-type){
        display: none;
    }
}