.form{
    padding: 2em 1em;
    background-color: #cfe0ca;
    color: var(--primary);
}

.form__heading__line{
    height: 0.35em;
    width: 6em;
    background-color: tomato;
    margin: .25em 0 1.5em;
}

.form__heading__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__form{
    display: flex;
    flex-direction: column;
}

.form__form *:not(input[type="submit"],label){
    margin-bottom: 1em;
    margin-top: .2em;
}

.form__form input{
    height: 2.5em;
    padding-left: 5px;
    font-size: 1em;
}

.form__form label{
    font-size: 1.1em;
    font-weight: 700;
}

.form__form textarea{
    padding: 8px;
    font-size: 1.2em;
    min-height: 5em;
    max-width: 100%;
}

input[type="submit"]{
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: tomato;
    color: white;
}

@media screen and (max-width: 330px) {
    .form__form label{
        font-size: 1em;
    }    
}

@media screen and (min-width: 750px) {
    .form{
        padding: 3em 7.5em;
        background-color: #cfe0ca;
        color: var(--primary);
    }

    .form__form label{
        font-size: 1em;
        font-weight: 700;
    }

    .form__form input{
        height: 2em;
        padding-left: 8px;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1350px) {
    .form__heading{
        font-size: 1.1em;
    }

    .form__heading__line{
        height: 0.18em;
        width: 4em;
        margin-bottom: 2em; 
    }

    .form__form{
        width: 30vw;
        margin: 0 auto;
    }

    .form__form *:not(input[type="submit"],label){
        margin-bottom: .5em;
        margin-top: .1em;
    }

    .form__form input{
        height: 2.3em;
        padding-left: 8px;
        font-size: .7em;
    }

    .form__form label{
        font-size: .8em;
        font-weight: 700;
        margin-top: 10px;
    }
    
    .form__form textarea{
        font-size: .7em;
        color: gray;
    }
    
    input[type="submit"]{
        margin-top: 15px;
    }
}    